//- layout.pug
html
  head
    title harry dance academy
    block scripts
     block scripts
  body
   nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    
    block content
    footer#footer
        | our footer here