extends layout.pug

block scripts
  script(src='/static/app.js');
    
    block style
       include  D:/DATA SCIENTIST FULL COURSE/web development full course/backend tutorial/bakend practice/express/DanceWebsiteTut77/static/style.css
       include  D:/DATA SCIENTIST FULL COURSE/web development full course/backend tutorial/bakend practice/express/DanceWebsiteTut77/stylecontact.css
block content
  .container
      h1 contact us
  form(action="/contact" , method="post" ,class="myform");
     input(type="text"class="myinput",name="name",placeholdar="enter your name")
       input(type="phone"class="myinput",name="phone",placeholdar="enter your phone")
      input(type="email"class="myinput",name="email",placeholdar="enter your email id")
      input(type="text"class="myinput",name="address",placeholdar="enter your address")
      input(type="text"class="myinput",name="desc",placeholdar="enter your concern")
      button(class="btn")
            |submit